<div id="price" style="display:none" mbsc-enhance>
  <label>
    Price Setup
    <input type="range" value="100" min="0" max="3000" data-tooltip="true" data-step-labels="[0, 500, 1000, 1500, 2000, 2500, 3000]">
    <input type="range" value="500" min="0" max="3000" />
    <input type="range" value="2000" min="0" max="3000" />
    <input type="range" value="2800" min="0" max="3000" />
  </label>
</div>
