<div class="content-row">
  <div class="row-title">
    <h2>Vehicles Settings</h2>
    {{ui-button "Save" color="blue" icon="more"}}
  </div>
  <div>
    {{#ui-fieldset direction="column" size="m" help="" as |f|}}
      {{f.input subject=""
                name=""
                label="Vehicles:"
                placeholder=""}}
    {{/ui-fieldset}}
  </div>
</div>

