<ul class="w-container">
  <li>
		<a href="">{{t "footer-nav.privacy-policy"}}</a>
  </li>
  <li>
		<a href="">{{t "footer-nav.terms-service"}}</a>
  </li>
	<li>
		<p>{{t "footer-nav.year"}}<a href="#index">choiceform</a>{{t "footer-nav.copyright"}}</p>
	</li>
</ul>