<ul id="vehicles" style="display:none">
  <li data-val="escalade">
    <img src="/images/sedans/2016-escalade-jellybean-200x123.png"/>
    <p>Escalade</p>
  </li>
  <li data-val="ats">
    <img src="/images/sedans/2017-ats-sedan-jellybean-200x123.png"/>
    <p>ATS</p>
  </li>
  <li data-val="ct6">
    <img src="/images/sedans/2017-ct6-jellybean-200x123.png"/>
    <p>CT6</p>
  </li>
  <li data-val="cts">
    <img src="/images/sedans/2017-cts-sedan-jellybean-200x123.png"/>
    <p>CTS</p>
  </li>
  <li data-val="xt5">
    <img src="/images/sedans/2017-xt5-jellybean-200x123.png"/>
    <p>XT5</p>
  </li>
</ul>