<div class="content-row">
  <div class="row-title">
    <h2>Trims Settings</h2>
    {{ui-button "Save" color="blue" icon="more"}}
  </div>
  <div>
    <div class="list-contents">
      <div class="list-wrapper">
        <div class="list-title">

        </div>
        <ul>
          {{common-ui/ui-list
                  module="repertory"
                  check=true
                  type="checkbox"
                  slide="swiper-disabled"
                  labelId="item-31"
                  vehicles="/images/sedans/2017-ct6-jellybean-200x123.png"
                  label="CT6"
                  tag="CT6"
                  tagTrims="LUXURY"
          }}
          {{common-ui/ui-list
                  module="repertory"
                  check=true
                  type="checkbox"
                  slide="swiper-disabled"
                  labelId="item-32"
                  vehicles="/images/sedans/2017-ct6-jellybean-200x123.png"
                  label="CT6"
                  tag="CT6"
                  tagTrims="PREMIUM LUXURY"
          }}
          {{common-ui/ui-list
                  module="repertory"
                  check=true
                  type="checkbox"
                  slide="swiper-disabled"
                  labelId="item-33"
                  vehicles="/images/sedans/2017-ct6-jellybean-200x123.png"
                  label="CT6"
                  tag="CT6"
                  tagTrims="PREMIUM"
          }}
        </ul>
      </div>
    </div>
  </div>
</div>