<div local-class="vehicles-Price">
  <h2>Price Vehicles</h2>
  <div class="list-contents">
    <div class="list-wrapper">
      <div class="list-title">
        {{!-- {{common-ui/search-input}}
        {{common-ui/search-type-menu class="menu"}} --}}
      </div>
      <ul>
        {{common-ui/ui-list
                module="price"
                edit=true
                trash=true
                info=true
                warehouse="2016-03-14"
                costPrice="$46,000"
                specialPrice="$50,495"
                standardPrice="$53,495"
                salePrice="$52,495"
                vehicles="/images/sedans/2017-ct6-jellybean-200x123.png"
                vehiclesID="ID001"
                vin="IIYIURy-3789-UIY"
                label="RWD 2.0L TURBO ENGINE CT6"
                tag="CT6"
                tagTrims="PREMIUM LUXURY"
        }}
        {{price-page/price-menu mobi-id='9982ytzk2'}}
      </ul>
    </div>
  </div>
</div>